body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'MTS-Wide-Medium';
  src: local("MTS-Wide-Medium"),
  url("./fonts/TTF/Compact/MTSCompact-Medium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: 'Bahnschrift';
  src: local("Bahnschrift"),
  url("./fonts/Bahnschrift/Bahnschrift.ttf") format("truetype");
  font-weight: normal;
}